@font-face {
    font-family: px-square;
    src: url(assets/fonts/Pixel\ Square.ttf);
}

@font-face {
    font-family: px-square-bold;
    src: url(assets/fonts/Pixel\ Square\ Bold.ttf);
}

@font-face {
    font-family: whitney-bold;
    src: url(assets/fonts/whitneybold.otf);
}

@font-face {
    font-family: whitney-med;
    src: url(assets/fonts/whitneymedium.otf);
}

@font-face {
    font-family: italipixel;
    src: url(assets/fonts/Italipixel.ttf)
}

@font-face {
    font-family: minecraft;
    src: url(assets/fonts/Minecraft.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

@keyframes headerAnimation {
    from {top: -200px;}
    to {top: 0px;}
}

@keyframes nameAnimation {
    0% {text-shadow: 0px 0px 5px rgb(255, 255, 255);}
    50% {text-shadow: 0px 0px 10px rgb(255, 255, 255);}
    100% {text-shadow: 0px 0px 5px rgb(255, 255, 255);}
}

@keyframes subheaderAnimation {
    from {top: -125px;}
    to {top: 75px;}
}

@keyframes contentAnimation {
    from {color: transparent; background-color: transparent;}
    to {color: rgba(154, 154, 187, 1);}
}

@keyframes footerAnimation {
    from {bottom: -50px;}
    to {bottom: 0px;}
}

@keyframes rotateNeg90 {
    0%  {transform: rotate(0deg); top: 10px;}
    100% {transform: rotate(-90deg); top: 10px;}
}

@keyframes height230 {
    100% {height: 230px;}
}

@keyframes rotate0 {
    0% {transform: rotate(-90deg); top: 10px; right: 11px}
    100% {transform: rotate(0deg); top: 10px; right: 11px;}
}

@keyframes rotate360 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes rotateNeg360 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes height100 {
    100% {height: 100px;}
}

@keyframes opacity100 {
    100% {color: rgba(255, 255, 255, 1); text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);}
}

@keyframes opacity0 {
    100% {color: rgba(0, 0, 0, 0); text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);}
}

.flex {
    display: flex;
}

.disable-select {
    user-select: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
}

.centered {
    left: 50%;
    transform: translate(-50%);
}

.shadow-text {
    text-shadow: 1px 1px 3px black;
}

.shadow-box {
    box-shadow: 1px 1px 3px black;
}

html {
    background-color: rgb(20, 20, 25);
}

body {
    padding: 0;
    margin: 0;
}

/* beginning of scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgb(41, 43, 52);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* end of scrollbar */



/* beginning of header */

#header {
    position: fixed;
    width: 700px;
    height: 135px;
    border-radius: 0px 0px 15px 15px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(30, 30, 35);
    box-shadow: 0px 0px 15px black;
    animation-name: headerAnimation;
    animation-duration: 0.75s;
    z-index: 0;
}

#header-name {
    position: relative;
    font-size: 100px;
    font-family: px-square;
    letter-spacing: -5px;
    color: rgb(245, 245, 255);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    animation: nameAnimation 10s infinite ease-in-out;
    padding-top: 33px;
}

#header-description {
    position: relative;
    font-size: 24px;
    font-family: italipixel;
    text-align: right;
    color: rgb(175, 175, 180);
    padding-right: 70px;
}

/* end of header*/

/* beginning of subheader */

#subheader {
    position: fixed;
    top: 75px;
    width: 660px;
    height: 100px;
    justify-content: space-between;
    flex-direction: row-reverse;
    animation: subheaderAnimation 0.75s;
    z-index: -1;
}

#subheader-navigator {
    position: relative;
}

.navigator-tab {
    position: relative;
    left: -5px;
    top: 56px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
    font-family: px-square;
    color: white;
    background-color: rgb(41, 43, 52);
    transition: 0.25s;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 5px;
    margin-left: 5px;
}

.navigator-tab:hover {
    top: 60px;
    color: rgb(41, 43, 52);
    background-color: white;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#subheader-dropdown {
    position: relative;
    top: -6px;
    flex-direction: column;
    justify-content: flex-start;
    width: 150px;
    height: 51px;
    border-radius: 0px 0px 0px 10px;
    color: rgb(245, 245, 255);
    background-color: rgb(41, 43, 52);
    transition: 0.75s;
    padding: 5px;
    padding-top: 10px;
    padding-right: 5px;
}

#subheader-dropdown:hover {
    top: 60px;
}

#subheader-dropdown:hover #subheader-dropdown-tab-arrow {
    top: 18px;
    transform: rotate(180deg);
}

#subheader-dropdown-tab {
    flex-direction: row-reverse;
    width: auto;
}

#subheader-dropdown-tab div {
    background-color: rgb(41, 43, 52);
    font-size: 20px;
    width: 45px;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
    justify-content: right;
    flex-direction: row;
    padding-left: 3px;
    position: relative;
    left: 5px;
    display: flex;
}

#subheader-dropdown-profile {
    flex-direction: row;
    text-align: left;
    line-height: 0px;
    padding: 5px;
    height: 39px;
    background-color: rgb(29, 31, 37);
    border-radius: 5px 5px 5px 5px
}

#subheader-dropdown-profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 5px;
    display: inline-block;
}

#subheader-dropdown-profile-text {
    display: inline-block;
    offset-position: top;
    position: relative;
    bottom: 5px;
}

#subheader-dropdown-profile-text-name {
    font-family: whitney-bold;
}

#subheader-dropdown-profile-text-id {
    font-family: whitney-med;
    color: rgb(181, 187, 190);
    font-size: 13px;
}

#subheader-dropdown-profile-copy {
    position: relative;
    width: 14px;
    height: 14px;
    right: 12px;
    top: 20px;
    cursor: pointer;
}

#subheader-dropdown-tab-image {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px;
    right: 15px;
}

#subheader-dropdown-tab-arrow {
    position: relative;
    right: 3px;
    bottom: 8px;
}

/* end of subheader */



/* beginning of content */

#content {
    position: absolute;
    font-family: Helvetica;
    color: rgb(154, 154, 187);
    overflow-y: auto;
    width: 675px;
    padding: 100px;
    padding-top: 175px;
    padding-bottom: 30px;
    width: 700px;
    z-index: -2;
}

#content hr {
    border-color: rgb(154, 154, 187);
}

.content-header {
    flex-direction: row;
    align-items: center;
    height: 75px;
}

.content-header p {
    position: relative;
    font-family: poppins-semibold;
    font-size: 45px;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
}

.content-header .right-line {
    position: relative;
    border-top: solid 6px rgb(154, 154, 187);
    border-right: solid 6px rgb(154, 154, 187);
    border-radius: 0px 15px 0px 0px;
    margin-top: 15px;
    width: 100%;
    height: 25px;
}

.content-header .left-line {
    position: relative;
    border-top: solid 6px rgb(154, 154, 187);
    border-left: solid 6px rgb(154, 154, 187);
    border-radius: 15px 0px 0px 0px;
    margin-top: 15px;
    width: 40px;
    height: 25px;
}

.infobox {
    width: 100%;
    height: 100px;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(30, 30, 35);
}

#content-infobox-cloaks-banner-arrow {
    cursor: pointer;
}

#content-infobox-cloaks-banner-arrow-image {
    position: relative;
    right: 5px;
    bottom: 15px;
    transform: rotate(-90deg) translateX(-50%) translateY(-10%);
    width: 50px;
}

#content-infobox-cloaks {
    background-image: linear-gradient(rgb(72, 166, 222), rgb(64, 109, 214));
    transition: box-shadow 0.5s;
    margin-top: 7px;
}

#content-infobox-cloaks:hover {
    box-shadow: 0px 0px 10px rgb(72, 166, 222);
}

#content-infobox-cloaks-banner {
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

#content-infobox-cloaks-banner-text {
    flex-direction: column;
    line-height: 50px;
    color: white;
    width: 100%;
}

#content-infobox-cloaks-banner-text div {
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

#content-infobox-cloaks-banner-text-title {
    position: relative;
    left: 10px;
    top: 15px;
    font-family: minecraft;
    font-size: 50px;
    margin: 0px;
}

#content-infobox-cloaks-banner-text-title-image {
    position: relative;
    top: 10px;
    width: 48px;
    border-radius: 40px;
    box-shadow: -1px 0px 4px 0px black;
}

#content-infobox-cloaks-banner-text-description {
    position: relative;
    margin-bottom: 0px;
    bottom: 15px;
    left: 15px;
}

#content-infobox-cloaks-expanded-summary {
    color: white;
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
}

#content-infobox-cloaks-expanded-summary i {
    font-size: 12px;
}

#content-infobox-cloaks-expanded-links {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;
}

.linkbutton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    width: 85px;
    height: 19px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.linkbutton:hover {
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 3px 0px black inset;
}

.linkbutton img {
    position: absolute;
    align-items: center;
    width: 23px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
}

.linkbutton p {
    position: absolute;
    font-size: 13px;
    color: white;
    bottom: -6px;
    margin-left: 29px;
}

.linkbutton-discord {
    background-color: #545fe6;
}

.linkbutton-website {
    background-color: white;
}

.linkbutton-website p {
    color: black;
    text-shadow: none;
}

/* end of content */



/* beginning of footer */

#footer {
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 35);
    box-shadow: 0px 0px 15px black;
    border-radius: 15px 15px 0px 0px;
    width: 700px;
    height: 35px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    animation: footerAnimation 0.75s;
}

#footer-signature {
    padding-left: 15px;
    color: rgb(175, 175, 180);
    font-family: px-square;
}

#footer-version {
    padding-right: 15px;
    color: rgb(175, 175, 180);
    font-family: px-square;
}

#footer hr {
    color: rgb(175, 175, 180);
    width: 45%;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
}

/* end of footer */